table{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    margin-top: 100px;
    width: 800px;
    line-height: 2.5;
    border-collapse: collapse;
    text-align: 10px;
}

thead{
    background-color: rgb(0, 103, 68);
    color: white;
}
tbody{
    text-align: center;
}
.row{
    background-color: rgb(234, 234, 234);
}
.col{
    background-color: rgb(171, 170, 170);
}